@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.productList {
  display: grid;
  gap: 16px;
  justify-content: center;
  row-gap: 40px;

  grid-template-columns: repeat(1, 272px);

  @media (min-width: 640px) {
    grid-template-columns: repeat(3, 272px);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 272px);
    width: 1136px;
    margin: 0 auto;
  }
}
