@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.pagination {
  margin: 0;
  padding: 0;
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    margin-top: 24px;
    gap: 8px;

    @include onTablet {
      margin-top: 40px;
    }
    @include onDesktop {
      margin-top: 40px;
    }

    li:first-child {
      margin-right: 8px;
    }
    li:last-child {
      margin-left: 8px;
    }
  }
  &__button {
    border-radius: 1px;
    border: 1px solid $elements-color;
    background: transparent;
    @include font-style(14px, 21px, 400);
    display: flex;
    width: 32px;
    height: 32px;

    justify-content: center;
    align-items: center;

    &:hover {
      border: 1px solid $main-text-color;
    }

    &--active {
      background-color: $main-text-color;
      color: $hover-background-color;
    }
  }

  &--disabled {
    color: $secondary-color;
  }
}
