$mobile-min-width: 320px;
$mobile-max-width: 639px;

$tablet-min-width: 640px;
$tablet-max-width: 1023px;

$desktop-min-width: 1024px;

$main-text-color: #313237;
$hover-background-color: #fafbfc;
$elements-color: #e2e6e9;
$icons-color: #b4bdc3;
$secondary-color: #89939a;

$selected-green-color: #27ae60;
$selected-red-color: #eb5757;

$main-color: #ffffff;

$transition: 0.3s ease-in-out;

$hover-shadow: 0px 3px 13px 0px #17203166;
