@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.cart {
  margin: 0 auto;

  cursor: default;

  &__content {
    grid-template-columns: repeat(1, 272px);

    @media (min-width: 640px) {
      grid-template-columns: repeat(3, 272px);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 272px);
      width: 1136px;
      margin: 32px auto;
    }
    margin: 32px;
  }

  &__back {
    display: flex;
    margin: 0;
    padding: 0;

    width: 66px;
    height: 16px;

    &-btn {
      background-color: transparent;
      border: none;
      color: $secondary-color;
      align-items: center;
    }
    &-text {
      width: 100%;
      color: $secondary-color;
      @include font-style(14px, 21px, 400);
      cursor: default;
    }
  }

  &__title {
    display: inline-block;
    @include font-style(32px, 41px, 700);
    color: $main-text-color;
  }

  &__empty {
    justify-content: center;
    @include font-style(32px, 41px, 700);
    color: $main-text-color;
    align-items: center;
  }

  &__main {
    display: flex;
    gap: 32px;
    flex-direction: column;

    @include onDesktop {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__checkout {
    width: 288px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid $elements-color;
    align-items: center;
    padding: 24px;
    border-radius: 4px;
    height: 190px;
    padding-bottom: 0;

    @include onDesktop {
      width: 368px;
    }
    @include onTablet {
      width: 592px;
    }

    &-total {
      color: $main-text-color;
      @include font-style(32px, 41px, 700);
      margin: 0;
    }

    &-count {
      margin: 0;
      color: $secondary-color;
      @include font-style(14px, 21px, 400);
    }

    &-divider {
      width: 100%;
      border: 1px solid $elements-color;
      margin: 0;
    }

    &-btn {
      display: flex;
      width: 100%;
      @include font-style(14px, 21px, 600);
      height: 48px;
      background-color: $main-text-color;
      border: none;
      border-radius: 4px;
      color: $main-color;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: $main-color;
        color: $main-text-color;
        border: 1px solid $main-text-color;
      }
    }
  }
}
