@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.tablets {
  margin: 0 auto;
  max-width: 1136px;
  padding: 24px 16px 80px;
  @include onTablet {
    padding-inline: 24px;
  }
  @media (min-width: 1200px) {
    padding-inline: 0;
  }

  &__title {
    @include font-style(48px, 56px, 800);
    color: $main-text-color;
    margin-bottom: 0 0 8px 0;
  }

  &__count {
    @include font-style(14px, 21px, 400);
    color: $secondary-color;
    margin-bottom: 32px;
    display: block;
  }

  &__filters {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    padding-left: 2px;
  }
  &__filter {
    display: flex;
    flex-direction: column;
    border-color: $secondary-color;
    gap: 4px;

    &--label {
      @include font-style(12px, 15px, 600);
      color: $main-text-color;
    }

    &--select {
      width: 136px;
      height: 40px;
      padding: 0 12px;
      border: 1 solid $secondary-color;
      border-radius: 2px;
      @include font-style(14px, 21px, 400);
    }
  }
}
